.tab{
    width:100%;
    max-width:1920px;
}

.tab .tab_content{
    width:calc( 100% / 3 - 40px);
}


.container{
  position: relative;
  width:100%;
  
}

.menu{
    position:absolute;
	width:100%;
    height:150px;
    top:-125px;
}
.menu .tit{
    width:calc( 100% / 3 - 80px);
    height:150px;
    background-color: #313131;
    box-sizing: border-box;
    overflow: hidden;
}
.menu .tit p{
    color:#fff;
    font-size:25px;
    text-align:center;
    line-height:150px;
    letter-spacing: 3px;
}
.tit.current{
    position: relative;
    width:calc( 100% / 3 + 160px);
    height:200px;
    background-color: #000;
    top:-50px;
}
.tit.current p{
    font-size:28px;
    line-height:200px;
}
.img_box1 .img1{
   width:100%;
   height:auto;
}
.img1 img{
    min-width:700px;
    min-height:400px;
}

.info{
    position: relative;
    width:100%;
    margin:auto;
    margin-top:-190px;
}
.img_list{
    width:60%;
    margin: auto;
    position: relative;
}
.img_box{
    padding:30px;
    width:100%;
}
.img_box img{
    width:100%;
    height:100%;
    object-fit: cover;
    border:30px solid #f1f1f1;
    box-shadow: 5px 5px 5px #e3e3e3,-5px -5px 5px #e3e3e3;
}
.swiper-container{
    overflow:visible!important;
    top: -122px;
}
.swiper-container.swiper-container1.swiper-container-horizontal.swiper-container-android{
    overflow:visible!important;
    top: -123px;
}


.swiper-container1{
    width:100%;
    height: 100%;
    overflow:visible;
} 
.swiper-container1 .swiper-slide{
	width: calc(100% / 3 - 12px)!important;
    height: 120px;
    background:#313131;
    text-align:center;
    font-size:24px;
    color:#fff;
    line-height:120px;
}
.swiper-container1 .swiper-slide.swiper-slide-active{
    width: calc(100% / 3 + 80px)!important;
    height: 160px;
    line-height:160px;
    font-size:28px;
    background:#000000;
    top:-40px;
    z-index:9999999;
}

@media(min-width:680px) and (max-width:1100px){
    .swiper-container.swiper-container1.swiper-container-horizontal.swiper-container-android{
        overflow:visible!important;
    }
    .img_list{
        width:70%;
    }
    .img_box{
        padding:20px;
    }
    .img_box img{
        border:20px solid #f1f1f1;
    } 
}

@media (min-width:600px) and (max-width:680px){
    .swiper-container.swiper-container1.swiper-container-horizontal.swiper-container-android{
        overflow:visible!important;
    }
    .menu .tit.current{
        width:calc( 100% / 3 + 60px);
        height: 172px;
        top:-40px;
    }
    .menu .tit{
        width:calc( 100% / 3 - 30px);
        height: 132px;
    }
    .img_list{
        width:75%;
    }
    .img_box{
        padding:20px;
    }
    .img_box img{
        border:20px solid #f1f1f1;
    } 
}
@media (min-width:510px) and (max-width:600px){
    .menu .tit.current{
        width:calc( 100% / 3 + 60px);
        height: 108px;
        top:14px;
    }
    .tit.current p{
        line-height:129px;
    }
    .menu .tit{
        position: relative;
        width: calc( 100% / 3 - 30px);
        height: 80px;
        top: 42px;
    }
    .menu .tit p{
        line-height: 96px;
    }
    .info{
        margin-top: -137px;
    }
    .img_list{
        width:80%;
    }
    .img_box{
        padding:10px;
    }
    .img_box img{
        border:15px solid #f1f1f1;
    } 
    .swiper-container1 .swiper-slide{
        height: 80px;
        line-height: 80px;
        font-size: 18px;
    }
    .swiper-container1 .swiper-slide.swiper-slide-active{
        height: 120px;
        line-height: 120px;
        font-size: 20px;
    }
    .swiper-container.swiper-container1.swiper-container-horizontal.swiper-container-android{
        overflow: visible!important;
        top: -83px;
    }
    .swiper-container {
        overflow: visible!important;
        top: -83px;
    }
}
@media (min-width:420px) and (max-width:510px) {
    .menu{
        top:-110px;
    }
    .menu .tit.current{
        width:calc( 100% / 3 + 20px);
        height: 78px;
        top:44px;
    }
    .tit.current p{
        font-size:20px;
        line-height:100px;
    }
    .menu .tit{
        position: relative;
        width:calc( 100% / 3 - 10px);
        height: 50px;
        top: 72px;
    }
    .menu .tit p{
        font-size:18px;
        line-height: 59px;
    }
    .info{
        margin-top: -118px;
    }
    .img_list{
        width:80%;
    }
    .img_box{
        padding:10px;
    }
    .img_box img{
        border:15px solid #f1f1f1;
    } 
    .content{
        margin-left: -90px;
    }
    .swiper-container1 .swiper-slide{
        height: 70px;
        line-height: 70px;
        font-size: 18px;
    }
    .swiper-container1 .swiper-slide.swiper-slide-active{
        width: calc(100% / 3 + 50px)!important;
        height: 110px;
        line-height: 110px;
        font-size: 20px;
    }
    .swiper-container1 .swiper-slide {
        width: calc(100% / 3 - 9px)!important;
    }
    .swiper-container.swiper-container1.swiper-container-horizontal.swiper-container-android{
        overflow: visible!important;
        top: -74px;
    }
    .swiper-container {
        overflow: visible!important;
        top: -74px;
    }
}
@media (max-width:420px){
    .swiper-container1 .swiper-slide {
        width: calc(100% / 3 - 6px)!important;
        height: 60px;
        line-height: 60px;
        font-size:14px;
    }
    .swiper-container1 .swiper-slide.swiper-slide-active {
        width: calc(100% / 3 + 40px)!important;
        height: 80px;
        line-height: 80px;
        font-size:18px;
    }
    .swiper-container.swiper-container1.swiper-container-horizontal.swiper-container-android {
        overflow: visible!important;
        top: -64px;
    }
    .swiper-container {
        overflow: visible!important;
        top: -64px;
    }
    .swiper-container1 .swiper-slide.swiper-slide-active{
        top: -20px;
    }
    .info{
        margin-top: -91px;
    }
    .img_list{
        width:85%;
    }
    .img_box{
        padding:10px;
    }
    .img_box img{
        border:10px solid #f1f1f1;
    } 
}