.container {
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
}
.t-breadcrumbs {
    margin: 10.1% auto 3%;
}
.breadcrumbs {
    font-size: 1.4rem;
    font-family: 宋体;
}
.breadcrumbs a{
    cursor: pointer;
}
.movie_list_main {
    margin: 0% auto 5.1%;
    position: relative;
    font-size: 0px;
}
.movie_list_main video{
    width:100%;
    height:100%;
    object-fit: contain;
}
.movie_list_main .movie_box{
   width:100%;
   position: absolute;
   left:0;
   top:0;
   cursor: pointer;
}

.movie_list_main .movie_box .img1{
    width:100%;
    height:100%;
    object-fit: contain;
}
/* .movie_box .img1.active{
    display:none;
} */
.movie_box.active{
    display:none;
}
.movie_list_main .movie_box .img2{
    position: absolute;
    left:calc( 50% - 30px);
    top:calc( 50% - 30px);
}
/* .movie_box .img2.active{
    display:none;
} */
.movie_list video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.movie_list .img1 {
    position: absolute;
    width:71px;
    height:71px;
    left:calc(50% - 30px);
    top:calc(50% - 30px);
    cursor: pointer;
    /* left: 0;
    top: 0; */
    /* width: 100%;
    height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; */
}
.movie_list .img1.active{
    display:none;
}
.movie_bag {
    background-color: #000000;
    padding-top: 2.6%;
    /* padding-bottom: 140px; */
}
.movie_all {
    margin-right: 0;
    margin-left: 0;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom:50px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.img-fluid img{
    vertical-align: middle;
    border-style: none;
}
.movie_list {
    margin-top: 18px;
    position: relative;
    overflow: hidden;
    padding-right: 10px;
    padding-left: 10px;
}
.movie_list_words {
    opacity: 0.6;
    width: 96.7%;
    display: block;
    margin: 0 auto;
    bottom: -50px;
    height: 50px;
    transition: bottom 0.5s;
    position: absolute;
    -webkit-tap-highlight-color: transparent;
}
.movie_list_words {
    font-family: "宋体";
    font-size: 14px;
    background-color: #1b1b1b;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    cursor: pointer;
}
.movie_list_words p {
    float: left;
    margin-left: 30px;
    margin-bottom: 0px;
}
.movie_list_words span {
    float: right;
    margin-right: 22px;
}
.movie_list:hover .movie_list_words {
    bottom: 0px;
}
.footer{
    margin-top:0;
}
@media (min-width: 1200px){
    .container {
        max-width: 1180px;
    }
    .movie_bag .container{
        max-width: 1180px;
    }
    .movie_list.col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
.container {
    max-width: 1180px;
}
.movie_bag .container{
    max-width: 960px;
}
.movie_list.col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}
@media (min-width: 768px) and (max-width: 992px) {
.container {
    max-width: 960px;
}
.movie_bag .container{
    max-width: 720px;
}
.movie_list.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}
@media (min-width: 576px) and (max-width: 768px) {
.container {
    max-width: 720px;
}
.movie_bag .container{
    max-width: 540px;
}
.movie_list.col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}
@media (max-width: 576px){
.container {
    max-width: 540px;
}
.movie_bag .container{
    max-width: 350px;
}
.movie_list.col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
}